extends layout

block content
  h1= title
  p Welcome to #{Intersting fact}
  p. |Inserting fact about my self i like to communicating with people and also 
     |Helping friends and learning new things on  marking and like to enjoy music